.register-box {
  width: 360px;
  background-color: white;
  padding: 25px 20px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  border-radius: 6px;

  display: flex;
  flex-direction: column;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1;
}

.register-box::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("/gym.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
}

.register-box input {
  margin: 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  background: #f2f2f2;
  border-radius: 4px;
}

.register-box input:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.3);
}

.register-box button {
  margin-top: 15px;
  padding: 15px;
  font-size: 16px;
  border: 0;
  background: #ff5b2a;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.register-box button:hover {
  background: #eba994;
}

.register-box button:disabled {
  background: #9e9e9e;
  cursor: default;
}
